.form {
    margin-top: 32px;
}

.error {
    color: var(--red);
    text-align: center;
}

.loginLink {
    color: var(--grey);
    margin-top: 16px;
    text-align: center;
}

.loginLink a {
    color: var(--blue);
    cursor: pointer;
    font-weight: var(--medium);
    margin-left: 8px;
}

.list {
    margin-bottom: 16px;
}

.list li {
    color: var(--grey);
    font-size: var(--footNote);
}
